/*Based on https://en.wikipedia.org/wiki/List_of_colors_(alphabetical)*/
@theme {
  /*Color primitives as tailwind keyword*/
  --color-absolute-zero: #0048ba;
  --color-acid-green: #b0bf1a;
  --color-aero: #00b9e8;
  --color-african-violet: #b284be;
  --color-air-superiority-blue: #72a0c1;
  --color-alabaster: #f2f0e6;
  --color-alice-blue: #f0f8ff;
  --color-alizarin: #db2d43;
  --color-alloy-orange: #c46210;
  --color-almond: #efdecd;
  --color-amaranth: #e52b50;
  --color-amaranth-deep-purple: #9f2b68;
  --color-amaranth-pink: #f19cbb;
  --color-amaranth-purple: #ab274f;
  --color-amazon: #3b7a57;
  --color-amber: #ffbf00;
  --color-amber-sae-ece: #ff7e00;
  --color-amethyst: #9966cc;
  --color-amethyst-crayola: #64609a;
  --color-android-green: #3ddc84;
  --color-antique-brass: #cd9575;
  --color-antique-bronze: #665d1e;
  --color-antique-fuchsia: #915c83;
  --color-antique-ruby: #841b2d;
  --color-antique-white: #faebd7;
  --color-apricot: #fbceb1;
  --color-aqua: #00ffff;
  --color-aquamarine: #7fffd4;
  --color-aquamarine-crayola: #95e0e8;
  --color-arctic-lime: #d0ff14;
  --color-artichoke-green: #4b6f44;
  --color-arylide-yellow: #e9d66b;
  --color-ash-gray: #b2beb5;
  --color-asparagus: #7ba05b;
  --color-atomic-tangerine: #ff9966;
  --color-aureolin: #fdee00;
  --color-aztec-gold: #c39953;
  --color-azure: #007fff;
  --color-azure-x11: #f0ffff;
  --color-baby-blue: #89cff0;
  --color-baby-blue-eyes: #a1caf1;
  --color-baby-pink: #f4c2c2;
  --color-baby-powder: #fefefa;
  --color-baker-miller-pink: #ff91af;
  --color-banana-mania: #fae7b5;
  --color-barbie-pink: #e0218a;
  --color-barn-red: #7c0a02;
  --color-battleship-grey: #848482;
  --color-beau-blue: #bcd4e6;
  --color-beaver: #9f8170;
  --color-beige: #f5f5dc;
  --color-berry-parfait: #a43482;
  --color-bdazzled-blue: #2e5894;
  --color-big-dip-o-ruby: #9c2542;
  --color-big-foot-feet: #e88e5a;
  --color-bisque: #ffe4c4;
  --color-bistre: #3d2b1f;
  --color-bistre-brown: #967117;
  --color-bitter-lemon: #cae00d;
  --color-bittersweet: #fe6f5e;
  --color-bittersweet-shimmer: #bf4f51;
  --color-black: #000000;
  --color-black-bean: #3d0c02;
  --color-black-coral: #54626f;
  --color-black-olive: #3b3c36;
  --color-black-shadows: #bfafb2;
  --color-blanched-almond: #ffebcd;
  --color-blast-off-bronze: #a57164;
  --color-bleu-de-france: #318ce7;
  --color-blizzard-blue: #50bfe6;
  --color-blood-red: #660000;
  --color-blue: #0000ff;
  --color-blue-crayola: #1f75fe;
  --color-blue-munsell: #0093af;
  --color-blue-ncs: #0087bd;
  --color-blue-pantone: #0018a8;
  --color-blue-pigment: #333399;
  --color-blue-bell: #a2a2d0;
  --color-blue-gray: #6699cc;
  --color-blue-gray-crayola: #c8c8cd;
  --color-blue-green: #0d98ba;
  --color-blue-jeans: #5dadec;
  --color-blue-ribbon: #0b10a2;
  --color-blue-sapphire: #126180;
  --color-blue-violet: #8a2be2;
  --color-blue-yonder: #5072a7;
  --color-blueberry: #4f86f7;
  --color-bluetiful: #3c69e7;
  --color-blush: #de5d83;
  --color-bole: #79443b;
  --color-bone: #e3dac9;
  --color-booger-buster: #dde26a;
  --color-brick-red: #cb4154;
  --color-bright-green: #66ff00;
  --color-bright-lilac: #d891ef;
  --color-bright-maroon: #c32148;
  --color-bright-navy-blue: #1974d2;
  --color-bright-pink: #ff007f;
  --color-bright-turquoise: #08e8de;
  --color-bright-yellow-crayola: #ffaa1d;
  --color-brilliant-rose: #e667ce;
  --color-brink-pink: #fb607f;
  --color-british-racing-green: #004225;
  --color-bronze: #cd7f32;
  --color-brown: #964b00;
  --color-brown-crayola: #af593e;
  --color-brown-web: #a52a2a;
  --color-brown-sugar: #af6e4d;
  --color-bud-green: #7bb661;
  --color-buff: #f0dc82;
  --color-burgundy: #800020;
  --color-burlywood: #deb887;
  --color-burnished-brown: #a17a74;
  --color-burnt-orange: #cc5500;
  --color-burnt-sienna: #e97451;
  --color-burnt-umber: #8a3324;
  --color-byzantine: #bd33a4;
  --color-byzantium: #702963;
  --color-cadet: #536872;
  --color-cadet-blue: #5f9ea0;
  --color-cadet-grey: #91a3b0;
  --color-cadmium-green: #006b3c;
  --color-cadmium-orange: #ed872d;
  --color-cadmium-red: #e30022;
  --color-cadmium-yellow: #fff600;
  --color-caf-au-lait: #a67b5b;
  --color-caf-noir: #4b3621;
  --color-cambridge-blue: #a3c1ad;
  --color-camel: #c19a6b;
  --color-cameo-pink: #efbbcc;
  --color-canary: #ffff99;
  --color-canary-yellow: #ffef00;
  --color-candy-apple-red: #ff0800;
  --color-candy-pink: #e4717a;
  --color-cardinal: #c41e3a;
  --color-caribbean-green: #00cc99;
  --color-carmine: #960018;
  --color-carnelian: #b31b1b;
  --color-carnation-pink: #ffa6c9;
  --color-carolina-blue: #56a0d3;
  --color-carrot-orange: #ed9121;
  --color-catawba: #703642;
  --color-cedar-chest: #ca3435;
  --color-celadon: #ace1af;
  --color-celeste: #b2ffff;
  --color-cerise: #de3163;
  --color-cerulean: #007ba7;
  --color-cerulean-blue: #2a52be;
  --color-cerulean-frost: #6d9bc3;
  --color-cerulean-crayola: #1dacd6;
  --color-champagne: #f7e7ce;
  --color-champagne-pink: #f1ddcf;
  --color-charcoal: #36454f;
  --color-charleston-green: #232b2b;
  --color-charm-pink: #e68fac;
  --color-chartreuse: #7fff00;
  --color-cherry-blossom-pink: #ffb7c5;
  --color-chestnut: #954535;
  --color-china-pink: #de6fa1;
  --color-chinese-red: #aa381e;
  --color-chinese-violet: #856088;
  --color-chocolate-traditional: #7b3f00;
  --color-chocolate-web: #d2691e;
  --color-cinnabar: #e44d2e;
  --color-cinereous: #98817b;
  --color-cinnamon-satin: #cd607e;
  --color-citrine: #e4d00a;
  --color-citron: #9fa91f;
  --color-claret: #7f1734;
  --color-cobalt-blue: #0047ab;
  --color-cocoa-brown: #d2691e;
  --color-coconut: #965a3e;
  --color-coffee: #6f4e37;
  --color-columbia-blue: #c4d8e2;
  --color-congo-pink: #f88379;
  --color-cool-grey: #8c92ac;
  --color-copper: #b87333;
  --color-copper-penny: #ad6f69;
  --color-copper-red: #cb6d51;
  --color-copper-rose: #996666;
  --color-coquelicot: #ff3800;
  --color-coral: #ff7f50;
  --color-coral-pink: #f88379;
  --color-cordovan: #893f45;
  --color-cornflower-blue-web: #6495ed;
  --color-cornflower-blue-crayola: #93ccea;
  --color-cornsilk: #fff8dc;
  --color-cosmic-cobalt: #2e2d88;
  --color-cosmic-latte: #fff8e7;
  --color-coyote-brown: #81613c;
  --color-cotton-candy: #ffbcd9;
  --color-cream: #fffdd0;
  --color-crimson: #dc143c;
  --color-crimson-ua: #af002a;
  --color-cultured: #f5f5f5;
  --color-cyan: #00ffff;
  --color-cyber-grape: #58427c;
  --color-cyber-yellow: #ffd300;
  --color-cyclamen: #f56fa1;
  --color-dandelion: #ddf719;
  --color-dark-blue: #00008b;
  --color-dark-blue-gray: #666699;
  --color-dark-brown: #654321;
  --color-dark-byzantium: #5d3954;
  --color-dark-cyan: #008b8b;
  --color-dark-electric-blue: #536878;
  --color-dark-fuchsia: #a00955;
  --color-dark-goldenrod: #b8860b;
  --color-dark-gray-x11: #a9a9a9;
  --color-dark-green: #013220;
  --color-dark-green-x11: #006400;
  --color-dark-jungle-green: #1a2421;
  --color-dark-khaki: #bdb76b;
  --color-dark-lava: #483c32;
  --color-dark-liver: #534b4f;
  --color-dark-magenta: #8b008b;
  --color-dark-midnight-blue: #003366;
  --color-dark-moss-green: #4a5d23;
  --color-dark-olive-green: #556b2f;
  --color-dark-orange: #ff8c00;
  --color-dark-orchid: #9932cc;
  --color-dark-pastel-green: #03c03c;
  --color-dark-purple: #301934;
  --color-dark-raspberry: #872657;
  --color-dark-red: #8b0000;
  --color-dark-salmon: #e9967a;
  --color-dark-sea-green: #8fbc8f;
  --color-dark-sienna: #3c1414;
  --color-dark-sky-blue: #8cbed6;
  --color-dark-slate-blue: #483d8b;
  --color-dark-slate-gray: #2f4f4f;
  --color-dark-spring-green: #177245;
  --color-dark-tan: #918151;
  --color-dark-turquoise: #00ced1;
  --color-dark-vanilla: #d1bea8;
  --color-dark-violet: #9400d3;
  --color-dartmouth-green: #00703c;
  --color-davys-grey: #555555;
  --color-deep-cerise: #da3287;
  --color-deep-champagne: #fad6a5;
  --color-deep-chestnut: #b94e48;
  --color-deep-fuchsia: #c154c1;
  --color-deep-jungle-green: #004b49;
  --color-deep-lemon: #f5c71a;
  --color-deep-mauve: #d473d4;
  --color-deep-pink: #ff1493;
  --color-deep-sky-blue: #00bfff;
  --color-deep-space-sparkle: #4a646c;
  --color-deep-taupe: #7e5e60;
  --color-denim: #1560bd;
  --color-denim-blue: #2243b6;
  --color-desert: #c19a6b;
  --color-desert-sand: #edc9af;
  --color-dim-gray: #696969;
  --color-dingy-dungeon: #c53151;
  --color-dirt: #9b7653;
  --color-dodger-blue: #1e90ff;
  --color-dogwood-rose: #d71868;
  --color-duke-blue: #00009c;
  --color-dutch-white: #efdfbb;
  --color-earth-yellow: #e1a95f;
  --color-ebony: #555d50;
  --color-ecru: #c2b280;
  --color-eerie-black: #1b1b1b;
  --color-eggplant: #614051;
  --color-eggshell: #f0ead6;
  --color-egyptian-blue: #1034a6;
  --color-electric-blue: #7df9ff;
  --color-electric-indigo: #6f00ff;
  --color-electric-lime: #ccff00;
  --color-electric-purple: #bf00ff;
  --color-electric-violet: #8f00ff;
  --color-emerald: #50c878;
  --color-eminence: #6c3082;
  --color-english-lavender: #b48395;
  --color-english-red: #ab4b52;
  --color-english-vermillion: #cc474b;
  --color-english-violet: #563c5c;
  --color-eton-blue: #96c8a2;
  --color-eucalyptus: #44d7a8;
  --color-fallow: #c19a6b;
  --color-falu-red: #801818;
  --color-fandango: #b53389;
  --color-fandango-pink: #de5285;
  --color-fashion-fuchsia: #f400a1;
  --color-fawn: #e5aa70;
  --color-feldgrau: #4d5d53;
  --color-fern-green: #4f7942;
  --color-field-drab: #6c541e;
  --color-fiery-rose: #ff5470;
  --color-firebrick: #b22222;
  --color-fire-engine-red: #ce2029;
  --color-fire-opal: #e95c4b;
  --color-flame: #e25822;
  --color-flax: #eedc82;
  --color-flirt: #a2006d;
  --color-floral-white: #fffaf0;
  --color-fluorescent-blue: #15f4ee;
  --color-forest-green-crayola: #5fa777;
  --color-forest-green-traditional: #014421;
  --color-forest-green-web: #228b22;
  --color-french-beige: #a67b5b;
  --color-french-bistre: #856d4d;
  --color-french-blue: #0072bb;
  --color-french-fuchsia: #fd3f92;
  --color-french-lilac: #86608e;
  --color-french-lime: #9efd38;
  --color-french-mauve: #d473d4;
  --color-french-pink: #fd6c9e;
  --color-french-raspberry: #c72c48;
  --color-french-rose: #f64a8a;
  --color-french-sky-blue: #77b5fe;
  --color-french-violet: #8806ce;
  --color-frostbite: #e936a7;
  --color-fuchsia: #ff00ff;
  --color-fuchsia-crayola: #c154c1;
  --color-fuchsia-purple: #cc397b;
  --color-fuchsia-rose: #c74375;
  --color-fulvous: #e48400;
  --color-fuzzy-wuzzy: #87421f;
  --color-gainsboro: #dcdcdc;
  --color-gamboge: #e49b0f;
  --color-garnet: #733635;
  --color-generic-viridian: #007f66;
  --color-ghost-white: #f8f8ff;
  --color-glaucous: #6082b6;
  --color-glossy-grape: #ab92b3;
  --color-go-green: #00ab66;
  --color-gold: #a57c00;
  --color-gold-metallic: #d4af37;
  --color-gold-web-golden: #ffd700;
  --color-gold-crayola: #e6be8a;
  --color-gold-fusion: #85754e;
  --color-golden-brown: #996515;
  --color-golden-poppy: #fcc200;
  --color-golden-yellow: #ffdf00;
  --color-goldenrod: #daa520;
  --color-granite-gray: #676767;
  --color-granny-smith-apple: #a8e4a0;
  --color-gray-web: #808080;
  --color-gray-x11: #bebebe;
  --color-green: #00ff00;
  --color-green-crayola: #1cac78;
  --color-green-html-css-color: #008000;
  --color-green-munsell: #00a877;
  --color-green-ncs: #009f6b;
  --color-green-pantone: #00ad43;
  --color-green-pigment: #00a550;
  --color-green-ryb: #66b032;
  --color-green-blue: #1164b4;
  --color-green-blue-crayola: #2887c8;
  --color-green-cyan: #009966;
  --color-green-lizard: #a7f432;
  --color-green-sheen: #6eaea1;
  --color-green-yellow: #adff2f;
  --color-green-yellow-crayola: #f0e891;
  --color-grullo: #a99a86;
  --color-gunmetal: #2a3439;
  --color-han-blue: #446ccf;
  --color-han-purple: #5218fa;
  --color-hansa-yellow: #e9d66b;
  --color-harlequin: #3fff00;
  --color-harvest-gold: #da9100;
  --color-heat-wave: #ff7a00;
  --color-heliotrope: #df73ff;
  --color-heliotrope-gray: #aa98a9;
  --color-hollywood-cerise: #f400a1;
  --color-honeydew: #f0fff0;
  --color-honolulu-blue: #006db0;
  --color-hookers-green: #49796b;
  --color-hot-fuchsia: #ff00c6;
  --color-hot-magenta: #ff1dce;
  --color-hot-pink: #ff69b4;
  --color-hunter-green: #355e3b;
  --color-iceberg: #71a6d2;
  --color-icterine: #fcf75e;
  --color-illuminating-emerald: #319177;
  --color-imperial-red: #ed2939;
  --color-inchworm: #b2ec5d;
  --color-independence: #4c516d;
  --color-india-green: #138808;
  --color-indian-red: #cd5c5c;
  --color-indian-yellow: #e3a857;
  --color-indigo: #4b0082;
  --color-indigo-dye: #00416a;
  --color-international-orange-aerospace: #ff4f00;
  --color-international-orange-engineering: #ba160c;
  --color-international-orange-golden-gate-bridge: #c0362c;
  --color-iris: #5a4fcf;
  --color-irresistible: #b3446c;
  --color-isabelline: #f4f0ec;
  --color-italian-sky-blue: #b2ffff;
  --color-ivory: #fffff0;
  --color-jade: #00a86b;
  --color-japanese-carmine: #9d2933;
  --color-japanese-violet: #5b3256;
  --color-jasmine: #f8de7e;
  --color-jazzberry-jam: #a50b5e;
  --color-jet: #343434;
  --color-jonquil: #f4ca16;
  --color-june-bud: #bdda57;
  --color-jungle-green: #29ab87;
  --color-kelly-green: #4cbb17;
  --color-keppel: #3ab09e;
  --color-key-lime: #e8f48c;
  --color-khaki-web: #c3b091;
  --color-khaki-x11: #f0e68c;
  --color-kobe: #882d17;
  --color-kobi: #e79fc4;
  --color-kobicha: #6b4423;
  --color-kombu-green: #354230;
  --color-ksu-purple: #512888;
  --color-la-salle-green: #087830;
  --color-languid-lavender: #d6cadd;
  --color-lanzones: #e0bc5b;
  --color-lapis-lazuli: #26619c;
  --color-laser-lemon: #ffff66;
  --color-laurel-green: #a9ba9d;
  --color-lava: #cf1020;
  --color-lavender-floral: #b57edc;
  --color-lavender-web: #e6e6fa;
  --color-lavender-blue: #ccccff;
  --color-lavender-gray: #c4c3d0;
  --color-lavender-indigo: #9457eb;
  --color-lavender-magenta: #ee82ee;
  --color-lavender-mist: #e6e6fa;
  --color-lavender-purple: #967bb6;
  --color-lavender-rose: #fba0e3;
  --color-lemon: #fff700;
  --color-lemon-chiffon: #fffacd;
  --color-lemon-curry: #cca01d;
  --color-lemon-glacier: #fdff00;
  --color-lemon-iced-tea: #bd3000;
  --color-lemon-lime: #e3ff00;
  --color-lemon-lime: #5cff67;
  --color-lemon-meringue: #f6eabe;
  --color-lemon-yellow: #fff44f;
  --color-lemon-yellow-crayola: #ffff9f;
  --color-licorice: #1a1110;
  --color-light-brown: #b5651d;
  --color-light-carmine-pink: #e66771;
  --color-light-chocolate-cosmos: #551f2f;
  --color-light-cobalt-blue: #88ace0;
  --color-light-cornflower-blue: #93ccea;
  --color-light-crimson: #f56991;
  --color-light-cyan: #e0ffff;
  --color-light-french-beige: #c8ad7f;
  --color-light-fuchsia-pink: #f984ef;
  --color-light-gold: #b29700;
  --color-light-grayish-magenta: #cc99cc;
  --color-light-medium-orchid: #d39bcb;
  --color-light-moss-green: #addfad;
  --color-light-orchid: #e6a8d7;
  --color-light-pastel-purple: #b19cd9;
  --color-light-periwinkle: #c5cbe1;
  --color-light-red: #ffcccb;
  --color-light-red-ochre: #e97451;
  --color-light-salmon-pink: #ff9999;
  --color-light-sea-green: #20b2aa;
  --color-light-silver: #d8d8d8;
  --color-light-thulian-pink: #e68fac;
  --color-lilac: #c8a2c8;
  --color-lilac-luster: #ae98aa;
  --color-lime-color-wheel: #bfff00;
  --color-lime-web-x11-green: #00ff00;
  --color-lime-green: #32cd32;
  --color-limerick: #9dc209;
  --color-lincoln-green: #195905;
  --color-linen: #faf0e6;
  --color-lion: #c19a6b;
  --color-liseran-purple: #de6fa1;
  --color-little-boy-blue: #6ca0dc;
  --color-little-girl-pink: #f8b9d4;
  --color-liver: #674c47;
  --color-liver-dogs: #b86d29;
  --color-liver-organ: #6c2e1f;
  --color-liver-chestnut: #987456;
  --color-livid: #6699cc;
  --color-lotion: #fefdfa;
  --color-lotion-blue: #15f2fd;
  --color-lotion-pink: #eccfcf;
  --color-lumber: #ffe4cd;
  --color-lust: #e62020;
  --color-maastricht-blue: #001c3d;
  --color-macaroni-and-cheese: #ffbd88;
  --color-madder-lake: #cc3336;
  --color-magenta: #ff00ff;
  --color-magenta-pantone: #d0417e;
  --color-magic-mint: #aaf0d1;
  --color-mahogany: #c04000;
  --color-maize: #fbec5d;
  --color-maize-crayola: #f2c649;
  --color-majorelle-blue: #6050dc;
  --color-malachite: #0bda51;
  --color-manatee: #979aaa;
  --color-mandarin: #f37a48;
  --color-mango: #fdbe02;
  --color-mango-green: #96ff00;
  --color-mango-tango: #ff8243;
  --color-mantis: #74c365;
  --color-mardi-gras: #880085;
  --color-marigold: #eaa221;
  --color-maroon-crayola: #c32148;
  --color-maroon: #800000;
  --color-maroon-x11: #b03060;
  --color-mauve: #e0b0ff;
  --color-mauve-taupe: #915f6d;
  --color-mauvelous: #ef98aa;
  --color-maximum-blue: #47abcc;
  --color-maximum-blue-green: #30bfbf;
  --color-maximum-blue-purple: #acace6;
  --color-maximum-green: #5e8c31;
  --color-maximum-green-yellow: #d9e650;
  --color-maximum-orange: #ff5b00;
  --color-maximum-purple: #733380;
  --color-maximum-pink: #f6a5f2;
  --color-maximum-red: #d92121;
  --color-maximum-red-purple: #a63a79;
  --color-maximum-violet: #892f77;
  --color-maximum-yellow: #fafa37;
  --color-maximum-yellow-red: #f2ba49;
  --color-may-green: #4c9141;
  --color-maya-blue: #73c2fb;
  --color-medium-aquamarine: #66ddaa;
  --color-medium-blue: #0000cd;
  --color-medium-candy-apple-red: #e2062c;
  --color-medium-carmine: #af4035;
  --color-medium-champagne: #f3e5ab;
  --color-medium-electric-blue: #035096;
  --color-medium-green: #037949;
  --color-medium-jungle-green: #1c352d;
  --color-medium-lavender-magenta: #dda0dd;
  --color-medium-orange: #ff7802;
  --color-medium-orchid: #ba55d3;
  --color-medium-persian-blue: #0067a5;
  --color-medium-pink: #fe6e9f;
  --color-medium-purple: #9370db;
  --color-medium-red: #b10304;
  --color-medium-red-violet: #bb3385;
  --color-medium-ruby: #aa4069;
  --color-medium-sea-green: #3cb371;
  --color-medium-sky-blue: #80daeb;
  --color-medium-slate-blue: #7b68ee;
  --color-medium-spring-bud: #c9dc87;
  --color-medium-spring-green: #00fa9a;
  --color-medium-taupe: #674c47;
  --color-medium-turquoise: #48d1cc;
  --color-medium-tuscan-red: #79443b;
  --color-medium-vermilion: #d9603b;
  --color-medium-violet: #65315f;
  --color-medium-violet-red: #c71585;
  --color-medium-yellow: #ffe302;
  --color-mellow-apricot: #f8b878;
  --color-mellow-yellow: #f8de7e;
  --color-melon: #fdbcb4;
  --color-melon-crayola: #febaad;
  --color-menthol: #c1f9a2;
  --color-metallic-blue: #32527b;
  --color-metallic-bronze: #a97142;
  --color-metallic-brown: #ac4313;
  --color-metallic-gold: #d3af37;
  --color-metallic-green: #296e01;
  --color-metallic-orange: #da680f;
  --color-metallic-pink: #eda6c4;
  --color-metallic-red: #a62c2b;
  --color-metallic-seaweed: #0a7e8c;
  --color-metallic-silver: #a8a9ad;
  --color-metallic-sunburst: #9c7c38;
  --color-metallic-violet: #5b0a91;
  --color-metallic-yellow: #fdcc0d;
  --color-mexican-pink: #e4007c;
  --color-microsoft-blue: #00a2ed;
  --color-microsoft-edge-blue: #0078d7;
  --color-microsoft-green: #7db700;
  --color-microsoft-red: #f04e1f;
  --color-microsoft-yellow: #fdb900;
  --color-middle-blue: #7ed4e6;
  --color-middle-blue-green: #8dd9cc;
  --color-middle-blue-purple: #8b72be;
  --color-middle-grey: #8b8680;
  --color-middle-green: #4d8c57;
  --color-middle-green-yellow: #acbf60;
  --color-middle-purple: #d982b5;
  --color-middle-red: #e58e73;
  --color-middle-red-purple: #a55353;
  --color-middle-yellow: #ffeb00;
  --color-middle-yellow-red: #ecb176;
  --color-midnight: #702670;
  --color-midnight-blue: #191970;
  --color-midnight-blue: #00468c;
  --color-midnight-green: #004953;
  --color-mikado-yellow: #ffc40c;
  --color-milk: #fdfff5;
  --color-milk-chocolate: #84563c;
  --color-mimi-pink: #ffdae9;
  --color-mindaro: #e3f988;
  --color-ming: #36747d;
  --color-minion-yellow: #f5e050;
  --color-mint: #3eb489;
  --color-mint-cream: #f5fffa;
  --color-mint-green: #98ff98;
  --color-misty-moss: #bbb477;
  --color-misty-rose: #ffe4e1;
  --color-moccasin: #faebd7;
  --color-mocha: #bea493;
  --color-mode-beige: #967117;
  --color-moonstone: #3aa8c1;
  --color-moonstone-blue: #73a9c2;
  --color-mordant-red: #ae0c00;
  --color-morning-blue: #8da399;
  --color-moss-green: #8a9a5b;
  --color-mountain-meadow: #30ba8f;
  --color-mountbatten-pink: #997a8d;
  --color-msu-green: #18453b;
  --color-mud: #70543e;
  --color-mughal-green: #306030;
  --color-mulberry: #c54b8c;
  --color-mulberry-crayola: #c8509b;
  --color-mummys-tomb: #828e84;
  --color-mustard: #ffdb58;
  --color-mustard-brown: #cd7a00;
  --color-mustard-green: #6e6e30;
  --color-mustard-yellow: #e1ad01;
  --color-myrtle-green: #317873;
  --color-mystic: #d65282;
  --color-mystic-maroon: #ad4379;
  --color-mystic-red: #ff5500;
  --color-nadeshiko-pink: #f6adc6;
  --color-napier-green: #2a8000;
  --color-naples-yellow: #fada5e;
  --color-navajo-white: #ffdead;
  --color-navy-blue: #000080;
  --color-navy-blue-crayola: #1974d2;
  --color-navy-purple: #9457eb;
  --color-neon-blue: #1b03a3;
  --color-neon-brown: #c3732a;
  --color-neon-carrot: #aaf0d1;
  --color-neon-cyan: #00fefc;
  --color-neon-fuchsia: #fe4164;
  --color-neon-gold: #cfaa01;
  --color-neon-gray: #808080;
  --color-neon-dark-green: #008443;
  --color-neon-green: #139b42;
  --color-neon-green: #39ff14;
  --color-neon-pink: #fe347e;
  --color-neon-purple: #9457eb;
  --color-neon-red: #ff1818;
  --color-neon-scarlet: #ff2603;
  --color-neon-silver: #cccccc;
  --color-neon-tangerine: #f6890a;
  --color-neon-yellow: #fff700;
  --color-new-car: #214fc6;
  --color-new-york-pink: #d7837f;
  --color-nickel: #727472;
  --color-nintendo-red: #e4000f;
  --color-non-photo-blue: #a4dded;
  --color-nyanza: #e9ffdb;
  --color-ocean-boat-blue: #0077be;
  --color-ochre: #cc7722;
  --color-office-green: #008000;
  --color-old-burgundy: #43302e;
  --color-old-gold: #cfb53b;
  --color-old-heliotrope: #563c5c;
  --color-old-lace: #fdf5e6;
  --color-old-lavender: #796878;
  --color-old-mauve: #673147;
  --color-old-moss-green: #867e36;
  --color-old-rose: #c08081;
  --color-old-silver: #848482;
  --color-olive: #808000;
  --color-olive-drab-3: #6b8e23;
  --color-olive-drab-7: #3c341f;
  --color-olive-green: #b5b35c;
  --color-olivine: #9ab973;
  --color-onyx: #353839;
  --color-opal: #a8c3bc;
  --color-opera-mauve: #b784a7;
  --color-orange: #ff6600;
  --color-orange-color-wheel: #ff7f00;
  --color-orange-crayola: #ff7538;
  --color-orange-pantone: #ff5800;
  --color-orange-ryb: #fb9902;
  --color-orange-web: #ffa500;
  --color-orange-iced-tea: #ff6700;
  --color-orange-red-crayola: #ff5349;
  --color-orange-soda-3: #e74e14;
  --color-orange-soda-7: #fa5b3d;
  --color-orange-yellow: #f5bd1f;
  --color-orange-yellow-crayola: #f8d568;
  --color-orchid: #da70d6;
  --color-orchid-pink: #f2bdcd;
  --color-orchid-crayola: #e29cd2;
  --color-orioles-orange: #fb4f14;
  --color-otter-brown: #654321;
  --color-outer-space: #414a4c;
  --color-outer-space-crayola: #2d383a;
  --color-outrageous-orange: #ff6037;
  --color-oxblood: #800020;
  --color-oxford-blue: #002147;
  --color-oxley: #6d9a79;
  --color-ou-crimson-red: #990000;
  --color-pacific-blue: #1ca9c9;
  --color-pakistan-green: #006600;
  --color-palatinate-blue: #273be2;
  --color-palatinate-purple: #682860;
  --color-pale-aqua: #bcd4e6;
  --color-pale-blue: #afeeee;
  --color-pale-brown: #987654;
  --color-pale-carmine: #af4035;
  --color-pale-cerulean: #9bc4e2;
  --color-pale-chestnut: #ddadaf;
  --color-pale-copper: #da8a67;
  --color-pale-cornflower-blue: #abcdef;
  --color-pale-cyan: #87d3f8;
  --color-pale-gold: #e6be8a;
  --color-pale-goldenrod: #eee8aa;
  --color-pale-green: #98fb98;
  --color-pale-lavender: #dcd0ff;
  --color-pale-magenta: #f984e5;
  --color-pale-pink: #fadadd;
  --color-pale-plum: #dda0dd;
  --color-pale-robin-egg-blue: #96ded1;
  --color-pale-silver: #c9c0bb;
  --color-pale-spring-bud: #ecebbd;
  --color-pale-taupe: #bc987e;
  --color-pale-turquoise: #afeeee;
  --color-pale-violet: #cc99ff;
  --color-pale-violet-red: #db7093;
  --color-pansy-purple: #78184a;
  --color-paolo-veronese-green: #009b7d;
  --color-papaya-whip: #ffefd5;
  --color-paradise-pink: #e63e62;
  --color-parchment: #f1e9d2;
  --color-paris-green: #50c878;
  --color-pastel-blue: #aec6cf;
  --color-pastel-brown: #836953;
  --color-pastel-gray: #cfcfc4;
  --color-pastel-green: #77dd77;
  --color-pastel-magenta: #f49ac2;
  --color-pastel-orange: #ffb347;
  --color-pastel-pink: #dea5a4;
  --color-pastel-purple: #b39eb5;
  --color-pastel-red: #ff6961;
  --color-pastel-violet: #cb99c9;
  --color-pastel-yellow: #fdfd96;
  --color-patriarch: #800080;
  --color-paynes-grey: #536878;
  --color-peach: #ffe5b4;
  --color-peach-crayola: #ffcba4;
  --color-peach-puff: #ffdab9;
  --color-pear: #d1e231;
  --color-pearl: #eae0c8;
  --color-pearl-aqua: #88d8c0;
  --color-pearly-purple: #b768a2;
  --color-peridot: #e6e200;
  --color-periwinkle: #ccccff;
  --color-periwinkle-crayola: #c3cde6;
  --color-persian-blue: #1c39bb;
  --color-persian-green: #00a693;
  --color-persian-indigo: #32127a;
  --color-persian-orange: #d99058;
  --color-persian-pink: #f77fbe;
  --color-persian-plum: #701c1c;
  --color-persian-red: #cc3333;
  --color-persian-rose: #fe28a2;
  --color-persimmon: #ec5800;
  --color-peru: #cd853f;
  --color-petal: #f5e2e2;
  --color-pewter-blue: #8ba8b7;
  --color-philippine-blue: #0038a7;
  --color-philippine-bronze: #6e3a07;
  --color-philippine-brown: #5d1916;
  --color-philippine-gold: #b17304;
  --color-philippine-golden-yellow: #ffdf00;
  --color-philippine-gray: #8c8c8c;
  --color-philippine-green: #008543;
  --color-philippine-indigo: #00416a;
  --color-philippine-orange: #ff7300;
  --color-philippine-pink: #fa1a8e;
  --color-philippine-red: #ce1127;
  --color-philippine-silver: #b3b3b3;
  --color-philippine-sky-blue: #0066ff;
  --color-philippine-violet: #81007f;
  --color-philippine-yellow: #fecb00;
  --color-phlox: #df00ff;
  --color-phthalo-blue: #000f89;
  --color-phthalo-green: #123524;
  --color-picton-blue: #45b1e8;
  --color-pictorial-carmine: #c30b4e;
  --color-piggy-pink: #fddde6;
  --color-pine-green: #01796f;
  --color-pine-tree: #2a2f23;
  --color-pineapple: #563c0d;
  --color-pink: #ffc0cb;
  --color-pink-pantone: #d74894;
  --color-pink-diamond-ace-hardware-color: #f6d6de;
  --color-pink-diamond-independent-retailers-colors: #f0d3dc;
  --color-pink-flamingo: #fc74fd;
  --color-pink-lace: #ffddf4;
  --color-pink-pearl: #e7accf;
  --color-pink-sherbet: #f78fa7;
  --color-pistachio: #93c572;
  --color-platinum: #e5e4e2;
  --color-plum: #8e4585;
  --color-plum-web: #dda0dd;
  --color-plump-purple: #5946b2;
  --color-poison-purple: #7f01fe;
  --color-police-blue: #374f6b;
  --color-polished-pine: #5da493;
  --color-pomp-and-power: #86608e;
  --color-portland-orange: #ff5a36;
  --color-powder-blue: #b0e0e6;
  --color-princeton-orange: #f58025;
  --color-prune: #701c1c;
  --color-prussian-blue: #003153;
  --color-psychedelic-purple: #df00ff;
  --color-puce: #cc8899;
  --color-puce-red: #722f37;
  --color-pullman-brown-ups-brown: #644117;
  --color-pumpkin: #ff7518;
  --color-purple-html: #800080;
  --color-purple-munsell: #9f00c5;
  --color-purple-x11: #a020f0;
  --color-purple-heart: #69359c;
  --color-purple-mountain-majesty: #9678b6;
  --color-purple-navy: #4e5180;
  --color-purple-pizzazz: #fe4eda;
  --color-purple-plum: #9c51b6;
  --color-purple-taupe: #50404d;
  --color-purpureus: #9a4eae;
  --color-quartz: #51484f;
  --color-queen-blue: #436b95;
  --color-queen-pink: #e8ccd7;
  --color-quick-silver: #a6a6a6;
  --color-quinacridone-magenta: #8e3a59;
  --color-quincy: #6a5445;
  --color-rackley: #5d8aa8;
  --color-radical-red: #ff355e;
  --color-raisin-black: #242124;
  --color-rajah: #fbab60;
  --color-raspberry: #e30b5d;
  --color-raw-sienna: #d68a59;
  --color-raw-umber: #826644;
  --color-razzmatazz: #e30b5c;
  --color-razzle-dazzle-rose: #ff33cc;
  --color-razzmic-berry: #8d4e85;
  --color-rebecca-purple: #663399;
  --color-red: #ff0000;
  --color-red-crayola: #ee204d;
  --color-red-munsell: #f2003c;
  --color-red-ncs: #c40233;
  --color-red-pantone: #ed2939;
  --color-red-pigment: #ed1c24;
  --color-red-ryb: #fe2712;
  --color-red-brown: #a52a2a;
  --color-red-cola: #df0118;
  --color-red-orange-crayola: #ff681f;
  --color-red-orange-color-wheel: #ff4500;
  --color-red-rum: #973a4a;
  --color-red-salsa: #fd3a4a;
  --color-red-strawberry: #ec0304;
  --color-red-violet: #c71585;
  --color-red-violet-crayola: #c0448f;
  --color-red-violet-color-wheel: #922b3e;
  --color-redwood: #a45a52;
  --color-registration-black: #000000;
  --color-resolution-blue: #002387;
  --color-rhythm: #777696;
  --color-rich-brilliant-lavender: #f1a7fe;
  --color-rich-carmine: #d70040;
  --color-rich-electric-blue: #0892d0;
  --color-rich-lavender: #a76bcf;
  --color-rich-lilac: #b666d2;
  --color-rich-maroon: #b03060;
  --color-rifle-green: #444c38;
  --color-ripe-mango: #ffc324;
  --color-roast-coffee: #704241;
  --color-robin-egg-blue: #00cccc;
  --color-rocket-metallic: #8a7f80;
  --color-roman-silver: #838996;
  --color-root-beer: #290e05;
  --color-rose: #ff007f;
  --color-rose-dust: #9e5e6f;
  --color-royal-azure: #0038a8;
  --color-royal-blue: #002366;
  --color-royal-blue: #4169e1;
  --color-royal-brown: #523b35;
  --color-royal-fuchsia: #ca2c92;
  --color-royal-green: #136207;
  --color-royal-orange: #f99245;
  --color-royal-pink: #e73895;
  --color-royal-red: #9b1c31;
  --color-royal-red: #d00060;
  --color-royal-purple: #7851a9;
  --color-royal-yellow: #fada5e;
  --color-ruby: #e0115f;
  --color-rufous: #a81c07;
  --color-rum: #9a4e40;
  --color-russet: #80461b;
  --color-russian-green: #679267;
  --color-russian-violet: #32174d;
  --color-rust: #b7410e;
  --color-rusty-red: #da2c43;
  --color-sacramento-state-green: #043927;
  --color-saddle-brown: #8b4513;
  --color-safety-orange: #ff7800;
  --color-safety-blaze-orange: #ff6700;
  --color-safety-yellow: #eed202;
  --color-saffron: #f4c430;
  --color-sage: #bcb88a;
  --color-st-patricks-blue: #23297a;
  --color-salem: #177b4d;
  --color-salmon: #fa8072;
  --color-salmon-rose: #e7968b;
  --color-salmon-pink: #ff91a4;
  --color-samsung-blue: #12279e;
  --color-sand: #c2b280;
  --color-sand-dune: #967117;
  --color-sandy-brown: #f4a460;
  --color-sandy-taupe: #967117;
  --color-sap-green: #507d2a;
  --color-sapphire: #0f52ba;
  --color-sapphire-blue: #0067a5;
  --color-satin-sheen-gold: #cba135;
  --color-scarlet: #ff2400;
  --color-scarlet-crayola: #fd0e35;
  --color-schauss-pink: #ff91af;
  --color-school-bus-yellow: #ffd800;
  --color-screamin-green: #66ff66;
  --color-sea-blue: #006994;
  --color-sea-green: #2e8b57;
  --color-sea-green-crayola: #00ffcd;
  --color-seal-brown: #59260b;
  --color-seashell: #fff5ee;
  --color-selective-yellow: #ffba00;
  --color-sepia: #704214;
  --color-shadow: #8a795d;
  --color-shadow-blue: #778ba5;
  --color-shampoo: #ffcff1;
  --color-shamrock-green: #009e60;
  --color-shandy: #ffe670;
  --color-sheen-green: #8fd400;
  --color-shimmering-blush: #d98695;
  --color-shiny-shamrock: #5fa778;
  --color-shocking-pink: #fc0fc0;
  --color-shocking-pink-crayola: #ff6fff;
  --color-sienna: #882d17;
  --color-silver: #c0c0c0;
  --color-silver-crayola: #c9c0bb;
  --color-silver-metallic: #aaa9ad;
  --color-silver-chalice: #acacac;
  --color-silver-foil: #afb1ae;
  --color-silver-lake-blue: #5d89ba;
  --color-silver-pink: #c4aead;
  --color-silver-sand: #bfc1c2;
  --color-sinopia: #cb410b;
  --color-sizzling-red: #ff3855;
  --color-sizzling-sunrise: #ffdb00;
  --color-skobeloff: #007474;
  --color-sky-blue: #87ceeb;
  --color-sky-blue-crayola: #76d7ea;
  --color-sky-magenta: #cf71af;
  --color-slate-blue: #6a5acd;
  --color-slate-gray: #708090;
  --color-slimy-green: #299617;
  --color-smalt-dark-powder-blue: #003399;
  --color-smoke: #738276;
  --color-smokey-topaz: #832a0d;
  --color-smoky-black: #100c08;
  --color-soap: #cec8ef;
  --color-solid-pink: #893843;
  --color-sonic-silver: #757575;
  --color-spartan-crimson: #9e1316;
  --color-space-cadet: #1d2951;
  --color-spanish-bistre: #807532;
  --color-spanish-blue: #0070b8;
  --color-spanish-carmine: #d10047;
  --color-spanish-crimson: #e51a4c;
  --color-spanish-gray: #989898;
  --color-spanish-green: #009150;
  --color-spanish-orange: #e86100;
  --color-spanish-pink: #f7bfbe;
  --color-spanish-purple: #66033c;
  --color-spanish-red: #e60026;
  --color-spanish-sky-blue: #00ffff;
  --color-spanish-violet: #4c2882;
  --color-spanish-viridian: #007f5c;
  --color-spanish-yellow: #f6b511;
  --color-spicy-mix: #8b5f4d;
  --color-spring-bud: #a7fc00;
  --color-spring-frost: #87ff2a;
  --color-spring-green: #00ff7f;
  --color-spring-green-crayola: #ecebbd;
  --color-star-command-blue: #007bb8;
  --color-steel-blue: #4682b4;
  --color-steel-pink: #cc33cc;
  --color-steel-teal: #5f8a8f;
  --color-stil-de-grain-yellow: #fada5e;
  --color-straw: #e4d96f;
  --color-strawberry: #fc5a8d;
  --color-stop-red: #cf142b;
  --color-strawberry-iced-tea: #fc5a8d;
  --color-strawberry-red: #c83f49;
  --color-sugar-plum: #914e75;
  --color-sunglow: #ffcc33;
  --color-sunray: #e3ab57;
  --color-sunset: #fad6a5;
  --color-sunset-orange: #fd5e53;
  --color-super-pink: #cf6ba9;
  --color-sweet-brown: #a83731;
  --color-tan: #d2b48c;
  --color-tan-crayola: #d99a6c;
  --color-tangelo: #f94d00;
  --color-tangerine: #f28500;
  --color-tangerine-yellow: #ffcc00;
  --color-tango-pink: #e4717a;
  --color-tart-orange: #fb4d46;
  --color-taupe: #483c32;
  --color-taupe-gray: #8b8589;
  --color-tea-green: #d0f0c0;
  --color-tea-rose: #f88379;
  --color-tea-rose: #f4c2c2;
  --color-teal: #008080;
  --color-teal-blue: #367588;
  --color-teal-deer: #99e6b3;
  --color-teal-green: #00827f;
  --color-tel-magenta: #cf3476;
  --color-temptress: #3c2126;
  --color-tenn-tawny: #cd5700;
  --color-terra-cotta: #e2725b;
  --color-thistle: #d8bfd8;
  --color-thistle-crayola: #ebb0d7;
  --color-thulian-pink: #de6fa1;
  --color-tickle-me-pink: #fc89ac;
  --color-tiffany-blue: #81d8d0;
  --color-tigers-eye: #e08d3c;
  --color-timberwolf: #dbd7d2;
  --color-titanium: #878681;
  --color-titanium-yellow: #eee600;
  --color-tomato: #ff6347;
  --color-tomato-sauce: #b21807;
  --color-tooth: #fffafa;
  --color-topaz: #ffc87c;
  --color-tractor-red: #fd0e35;
  --color-trolley-grey: #808080;
  --color-tropical-rain-forest: #00755e;
  --color-true-blue: #0073cf;
  --color-tufts-blue: #3e8ede;
  --color-tulip: #ff878d;
  --color-tumbleweed: #deaa88;
  --color-turkish-rose: #b57281;
  --color-turquoise: #40e0d0;
  --color-turquoise-green: #a0d6b4;
  --color-tuscan-brown: #6f4e37;
  --color-tuscan-red: #7c4848;
  --color-tuscan-tan: #a67b5b;
  --color-tuscany: #c09999;
  --color-twitter-blue: #26a7de;
  --color-twilight-lavender: #8a496b;
  --color-tyrian-purple: #66023c;
  --color-ultramarine: #3f00ff;
  --color-ultramarine-blue: #4166f5;
  --color-ultramarine-blue-caran-dache: #2111ef;
  --color-ultra-pink: #ff6fff;
  --color-ultra-red: #fc6c85;
  --color-umber: #635147;
  --color-unbleached-silk: #ffddca;
  --color-united-nations-blue: #5b92e5;
  --color-unmellow-yellow: #ffff66;
  --color-up-maroon: #7b1113;
  --color-upsdell-red: #ae2029;
  --color-urobilin: #e1ad21;
  --color-vampire-black: #080808;
  --color-van-dyke-brown: #664228;
  --color-vanilla: #f3e5ab;
  --color-vanilla-ice: #f38fa9;
  --color-vegas-gold: #c5b358;
  --color-venetian-red: #c80815;
  --color-verdigris: #43b3ae;
  --color-vermilion: #e34234;
  --color-vermilion: #d9381e;
  --color-veronica: #a020f0;
  --color-very-light-azure: #74bbfb;
  --color-very-light-blue: #6666ff;
  --color-very-light-malachite-green: #64e986;
  --color-very-light-tangelo: #ffb077;
  --color-very-pale-orange: #ffdfbf;
  --color-very-pale-yellow: #ffffbf;
  --color-vine-green: #164010;
  --color-violet: #8f00ff;
  --color-violet-caran-dacheache: #6e00c0;
  --color-violet-color-wheel: #7f00ff;
  --color-violet-crayola: #963d7f;
  --color-violet-ryb: #8601af;
  --color-violet-web: #ee82ee;
  --color-violet-blue: #324ab2;
  --color-violet-blue-crayola: #766ec8;
  --color-violin-brown: #674403;
  --color-viridian: #40826d;
  --color-viridian-green: #009698;
  --color-vista-blue: #7c9ed9;
  --color-vivid-amber: #cc9900;
  --color-vivid-auburn: #922724;
  --color-vivid-burgundy: #9f1d35;
  --color-vivid-cerise: #da1d81;
  --color-vivid-cerulean: #00aaee;
  --color-vivid-crimson: #cc0033;
  --color-vivid-gamboge: #ff9900;
  --color-vivid-lime-green: #a6d608;
  --color-vivid-mulberry: #b80ce3;
  --color-vivid-orange: #ff5f00;
  --color-vivid-orange-peel: #ffa000;
  --color-vivid-orchid: #cc00ff;
  --color-vivid-raspberry: #ff006c;
  --color-vivid-red: #f70d1a;
  --color-vivid-red-tangelo: #df6124;
  --color-vivid-tangelo: #f07427;
  --color-vivid-vermilion: #e56024;
  --color-vivid-violet: #9f00ff;
  --color-vivid-yellow: #ffe302;
  --color-water: #d4f1f9;
  --color-watermelon: #f05c85;
  --color-watermelon-red: #bf4147;
  --color-watermelon-yellow: #eeff1b;
  --color-waterspout: #a4f4f9;
  --color-wenge: #645452;
  --color-wheat: #f5deb3;
  --color-white: #ffffff;
  --color-white-chocolate: #ede6d6;
  --color-white-coffee: #e6e0d4;
  --color-white-smoke: #f5f5f5;
  --color-wild-orchid: #d470a2;
  --color-wild-strawberry: #ff43a4;
  --color-wild-watermelon: #fc6c85;
  --color-willpower-orange: #fd5800;
  --color-windsor-tan: #a75502;
  --color-wine: #722f37;
  --color-wine-red: #b11226;
  --color-winter-sky: #ff007c;
  --color-wintergreen-dream: #56887d;
  --color-wisteria: #c9a0dc;
  --color-wood-brown: #c19a6b;
  --color-xanadu: #738678;
  --color-yellow: #ffff00;
  --color-yellow-crayola: #fce883;
  --color-yellow-munsell: #efcc00;
  --color-yellow-ncs: #ffd300;
  --color-yellow-pantone: #fedf00;
  --color-yellow-process: #ffef00;
  --color-yellow-ryb: #fefe33;
  --color-yellow-green: #9acd32;
  --color-yellow-green-crayola: #c5e384;
  --color-yellow-orange: #ffae42;
  --color-yellow-rose: #fff000;
  --color-yellow-sunshine: #fff700;
  --color-yinmn-blue: #2e5090;
  --color-zaffre: #0014a8;
  --color-zebra-white: #f5f5f5;
  --color-zinnwaldite: #2c1608;

  /*Theme colors*/
  /*
  Alternatives include:
    Hematite: Hematite
    Pearl: Tahitian Pearl
    Moonstone: Gray Moonstone
    Agate: Gray Agate
    Spinel: Gray Spinel
    Labradorite: Labradorite
    Diamond: Gray Diamond
    Chalcedony: Chalcedony
  */
  --color-background: var(--color-alabaster);
  --color-surface: var(--color-quick-silver);

  --color-primary: var(--color-azure);
  --color-accent: var(--color-fire-opal);
  --color-glyph: var(--color-onyx);
  /*
  Alternatives include:
    Ruby: Ruby
    Garnet: Garnet
    Spinel: Spinel
    Rubellite: Red Tourmaline
    Jasper: Red Jasper
    Coral: Coral
    Bixbite: Red Beryl
    Carnelian: Carnelian
  */
  --color-error: var(--color-carnelian); /*Cinnabar for dark mode*/
  /*
  Alternatives include:
    Amber: Amber
    Carnelian: Carnelian
    Citrine: Citrine
    Sunstone: Sunstone
    Topaz: Imperial Topaz
    Spessartine: Spessartine Garnet
    Fire Opal: Fire Opal
    Padparadscha: Padparadscha Sapphire
  */
  --color-warn: var(--color-citrine);
  /*
  Alternatives include:
    Emerald: Emerald
    Jade: Jade
    Peridot: Peridot
    Malachite: Malachite
    Tsavorite: Tsavorite Garnet
    Chrysoprase: Chrysoprase
    Tourmaline: Green Tourmaline
    Moldavite: Moldavite
  */
  --color-success: var(--color-malachite); /* Maybe jade or emerald */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-onyx);
    --color-surface: var(--color-silver);
    --color-glyph: var(--color-alabaster);
    --color-error: var(--color-cinnabar);
  }
}
